.about-title {
  text-align: left;
  font-size: 60px;
  margin-bottom: 20px;
  line-height: 100%;
  color: #123d6b;
  font-family: "Dudek Bold";
}

.about-description {
  margin: 15px 0;
  font-size: 18px;
  text-align: justify;
  .goal-text {
    color: #123d6b;
    font-family: "Dudek Bold";
  }
}

.about-description-new {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: justify;
}
.list-title {
  color: #747474;
  font-weight: bold;
  font-size: 17px;
}

.about-image {
  width: 100%;
  text-align: center;
}

.about-border {
  border: 1px solid #123d6b8e;
  margin: 30px 0;
}

.about-final-text {
  font-size: 35px;
  font-family: "Dudek Bold";
  text-align: center;
  padding: 0 90px;
  color: #f4925c;
}

.renov-image-main {
  width: 60%;
  margin-bottom: 10px;
}
@media only screen and (max-width: 992px) {
  .about-title {
    font-size: 50px;
  }
  .renov-image-main {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .about-title {
    font-size: 40px;
    text-align: center;
  }
  .renov-image {
    text-align: center;
  }
  .renov-image-main {
    width: 55%;
  }
  .about-final-text {
    font-size: 25px;
    padding: 0;
  }
}
